<connectionStrings>
  <!-- configuration data like endpoints, protocol config, relying parties etc... -->
  <add name="IdentityServerConfiguration" connectionString="server=localhost\SQLEXPRESS;database=IdentityServerConfiguration;trusted_connection=yes;"
  providerName="System.Data.SqlClient" />
  <add name="SqlServer" connectionString="server=localhost\SQLEXPRESS;database=IdentityServerConfiguration;trusted_connection=yes;"
  providerName="System.Data.SqlClient" />
  <add name="SqlCe" connectionString="DataSource=|DataDirectory|\IdentityServerConfiguration.sdf"
  providerName="System.Data.SqlServerCe.4.0" />
  <!-- user database (LocalDB) -->
  <add name="ProviderDB"
    providerName="System.Data.SqlClient"
    connectionString="server=localhost\SQLEXPRESS;database=IdentityServerUsers;trusted_connection=yes;" />
</connectionStrings>
